@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
  background-color: aquamarine;
  padding:7px 14px ;
  border-radius: 4px;
  color: rgb(21, 21, 21);
  font-weight: 600;
  transition: 0.3s;
}